kind: Deployment
apiVersion: apps/v1
metadata:
  name: cds-nas-controller
  namespace: kube-system
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: cds-nas-controller
  template:
    metadata:
      labels:
        app: cds-nas-controller
    spec:
      tolerations:
        - operator: Exists
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/master
                    operator: Exists
      priorityClassName: system-node-critical
      serviceAccount: cds-provisioner
      hostNetwork: true
      containers:
        - name: cds-nas-provisioner
          image: registry-bj.capitalonline.net/cck/cds-nas-controller:v0.1
          imagePullPolicy: IfNotPresent
          env:
            - name: PROVISIONER_NAME
              value: cds/nas
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /var/log
              name: log
      volumes:
        - hostPath:
            path: /var/log
          name: log
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cds-provisioner
  namespace: kube-system
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cds-provisioner-runner
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "update", "patch"]
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: run-cds-provisioner
subjects:
  - kind: ServiceAccount
    name: cds-provisioner
    namespace: kube-system
roleRef:
  kind: ClusterRole
  name: cds-provisioner-runner
  apiGroup: rbac.authorization.k8s.io